
* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}
h2 {
	font-size:70px;
	font-family:'Ranchers',cursive;
	letter-spacing:5px;
	color:white;
	padding-left:48px;
	padding-top:8px;
}
.wrapper {
	display:grid;
	grid-template:5fr 1fr 8fr 8fr 8fr 2fr / repeat(28,1fr);
}
.head {
	grid-area:1 / 1 / span 1 / span 28;
	text-align:left;
	height:250px;
	opacity:0.9;
	background:url(http://studentweb.comminfo.rutgers.edu/class-2017-9-04-567-347-01/jz587/ICA/Prototype/Images/image.jpeg) No-repeat;
	width:100%;
	background-size:cover;
}
h2 a:link {
	color: white;
	text-decoration:none;
}
h2 a:visited {
	color: white;
	text-decoration:none;
}
h2 a:hover {
	color:white;
	text-decoration:none;
}
h2 a:active {
	color:white;
	text-decoration:none;
}
.pic1 {
	grid-area:3/ 2 /span 1 / span 10;
	position:relative;
	top:60px;
}
.information1 {
	grid-area:3/ 12 / span 1 / span 16;
	background-color:#edeff2;
	height:350px;
	position:relative;
	top:60px
}
.pic2 {
	grid-area:4/ 2 /span 1 / span 10;
	position:relative;
	top:60px
}
.information2 {
	grid-area:4/ 12 / span 1 / span 16;
	background-color:#edeff2;
	position:relative;
	top:60px;
	height:350px;
}
.pic3 {
	grid-area:5/ 2 /span 1 / span 10;
	position:relative;
	top:60px
}
.information3 {
	grid-area:5/ 12 / span 1 / span 16;
	background-color:#edeff2;
	height:350px;
	position:relative;
	top:60px
}
.footer {
	grid-area:6 / 1 / span 1 / span 28;
	display:flex;
	justify-content:space-around;
	background-color:#edeff2;
	line-height:100px;
}
.footer a:link {
	color:black;
	font-size:12px;
	text-decoration:none;
}
.footer a:visited {
	color:black;
	text-decoration:none;
}
.footer a:hover {
	color:black;
	text-decoration:none;
}
.footer a:active {
	color:black;
	text-decoration:none;
}
.head-button {
	display:grid;
	grid-template:1fr / repeat (28,1fr);
	height:35px;
	text-align:center;
	line-height:35px;
	position:relative;
	top:65px;
	left:32px;
	font-family:'Rubik',sans-serif;
	font-size:18px;
}
.button1 {
	grid-area:1 / 2 / span 1 / span 6;
}
.button2 {
	grid-area:1 / 12 / span 1 / span 6;
}
.button3 {
	grid-area:1 / 22 / span 1 / span 6;
}
ul {
	font-family:'Rubik',sans-serif;
	font-size:17px;
	margin:0;
	padding:0;
	list-style:none;
	width:333px;
}
ul li {
	display:block;
	position:relative;
}
li ul {
	display:none;
}
ul li a {
	display:block;
	text-decoration:none;
	color:#5c5d60;
	padding:5px 15px 5px 15px;
	background:white;
	margin-left:1px;
	white-space:nowrap;
	border-bottom:1px solid #ffffff;
}
ul li a:hover {
	background:#a5659c;
}
li:hover ul {
	display:block;
	position:absolute;
}
li:hover li {
	float:none;
	font-size:11px;
}
li:hover a {
	color:white;
	background:#a5659c;
}
li:hover li a:hover {
	background:#95A9B1;
}
h3 {
	font-family:'Shadows Into Light',cursive;
	font-size:40px;
	position:relative;
	top:30px;
	text-align:center;
}
.infBox a:link {
	color:black;
	text-decoration:none;
}
.infBox a:visited {
	color:black;
	text-decoration:none;
}
.infBox a:hover {
	color:purple;
	text-decoration:none;
}
.infBox a:active {
	color:black;
	text-decoration:none;
}
h4 {
	font-family:'Philosopher',sans-serif;
	font-size:22px;
	position:relative;
	top:30px;
	text-align:center;
}
h5 {
	font-family:'Philosopher',sans-serif;
	font-size:18px;
	position:relative;
	top:45px;
	text-align:center;
}
p {
	position:relative;
	top:65px;
	text-align:left;
	padding:20px;
	font-family:'Rubik',sans-serif;
	line-height:30px;
	color:#616468;
}
.boxPic {
	padding-bottom:40px;
}
